/* Add icon custom theme */
li#accordion-section-title_tagline > h3.accordion-section-title:before {
content: "\f013";
font-family: 'FontAwesome';
padding: 0px 10px 0px 0px;
font-size:20px;
vertical-align: middle;
color:#0066bf;
}
li#accordion-section-colors > h3.accordion-section-title:before {
content: "\f55d";
font-family: 'FontAwesome';
padding: 0px 10px 0px 0px;
font-size:20px;
vertical-align: middle;
color:#0066bf;
}
li#accordion-panel-nav_menus > h3.accordion-section-title:before {
content: "\f0c9";
font-family: 'FontAwesome';
padding: 0px 10px 0px 0px;
font-size:20px;
vertical-align: middle;
color:#0066bf;
}
li#accordion-panel-widgets > h3.accordion-section-title:before {
content: "\e292";
font-family: 'FontAwesome';
padding: 0px 10px 0px 0px;
font-size:20px;
vertical-align: middle;
color:#0066bf;
}
li#accordion-section-static_front_page > h3.accordion-section-title:before {
content: "\f015";
font-family: 'FontAwesome';
padding: 0px 10px 0px 0px;
font-size:20px;
vertical-align: middle;
color:#0066bf;
}
li#accordion-section-custom_css > h3.accordion-section-title:before {
content: "\f13c";
font-family: 'FontAwesome';
padding: 0px 10px 0px 0px;
font-size:20px;
vertical-align: middle;
color:#0066bf;
}